* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    color: purple;
    font-size: 24px;
  }
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 50px;
  gap: 20px;

  &__result {
    border: 10px solid bisque;
    &--title {
      color: rgba(255, 99, 71, 0.5);
      background-color: white;
    }
  }
  &__favorites {
    border: 10px solid bisque;
    &--title {
      color: white;
      background-color: #f25f8d;
    }
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.isAlreadyToFav {
  border: solid 10px palevioletred;
  color: palevioletred;
}
.buttonRemoveOne,
bu {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5V4RN-QzTJiketlyXIneO2eDuf7SWRm0cIQ&usqp=CAU);
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px;
  width: 30px;
  border-radius: 900px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 50px;
}
.buttonRemoveOne:hover {
  width: 50px;
  height: 50px;
}
.buttonResetAll {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: palevioletred;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  background: white;
  border: none;
}
.buttonResetAll:hover {
  color: black;
  background: e2889b;
  box-shadow: 0 0 10px #a41c54, 0 0 40px #a41c54, 0 0 80px #a41c54;
  transition-delay: 1s;
}

.buttonResetAll span {
  position: absolute;
  display: block;
}

.buttonResetAll span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f25f8d);
}

.buttonResetAll:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.buttonResetAll span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f25f8d);
}

.buttonResetAll:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.buttonResetAll span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f25f8d);
}

.buttonResetAll:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.buttonResetAll span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f25f8d);
}

.buttonResetAll:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

body {
  height: 100vh;
  background-color: #f3cfc6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.red {
  color: red;
  font-size: 20px;
}
